@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-90%);
            transform: translateX(-90%);
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-90%);
            transform: translateX(-90%);
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

html {
  font-size: 62.5%;
}

@media only screen and (min-width: 2560px) {
  html {
    font-size: 75%;
  }
}

@media only screen and (max-width: 1601px) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 1441px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 1367px) {
  html {
    font-size: 45%;
  }
}

@media only screen and (max-width: 1025px) {
  html {
    font-size: 34%;
  }
}

:root {
  --color-black: #000;
  --color-primary: #bea67c;
}

body {
  font-family: "Montserrat", sans-serif;
}

.section__heading {
  font-size: 4.8rem;
  color: #010101;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.36px;
}

.section__para {
  color: #464646;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 3.5rem;
  line-height: 2.5rem;
}

.section__link {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #000;
  margin-top: 3.5rem;
  padding: 1rem 0;
  padding-left: 1rem;
  width: 17rem;
  -webkit-transition: 0.4s 0.5s color ease-in-out, 0.4s 0.7s transform;
  transition: 0.4s 0.5s color ease-in-out, 0.4s 0.7s transform;
}

@media only screen and (max-width: 1367px) {
  .section__link {
    width: 20rem;
  }
}

@media only screen and (max-width: 415px) {
  .section__link {
    margin: 3.5rem auto 0 auto;
  }
}

.section__link:hover:before {
  width: 100%;
  height: 100%;
}

.section__link:hover {
  color: white;
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.section__link::before {
  -webkit-transition: 0.4s width, 0.4s 0.4s height ease-in-out;
  transition: 0.4s width, 0.4s 0.4s height ease-in-out;
  z-index: -1;
}

.section__link span {
  color: var(--color-primary);
}

.section__image-para {
  text-transform: uppercase;
  color: #d0d0d0;
  opacity: 1;
  letter-spacing: 3.36px;
  font-size: 17rem;
  font-weight: 700;
  margin-top: 10rem;
  opacity: 0.3;
}

.section__bottom {
  color: #000;
  font-size: 3.6rem;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  letter-spacing: 5px;
}

.section__letter {
  font-size: 40rem;
  color: var(--color-primary);
  text-transform: uppercase;
  position: absolute;
  font-weight: bold;
  opacity: 0.2;
}

.header {
  height: 100rem;
  width: 100%;
  background-color: grey;
  position: relative;
}

.header__center {
  position: absolute;
  top: 45%;
  left: 51%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (max-width: 321px) {
  .header__center {
    top: 40%;
  }
}

.header__center--heading {
  font-size: 10rem;
  color: var(--color-primary);
  letter-spacing: 2rem;
  text-transform: uppercase;
  margin-bottom: 6rem;
  -webkit-animation: moveInLeft 1s linear;
          animation: moveInLeft 1s linear;
}

@media only screen and (max-width: 415px) {
  .header__center--heading {
    font-size: 7rem;
  }
}

@media only screen and (max-width: 321px) {
  .header__center--heading {
    font-size: 5rem;
  }
}

.header__center--learn {
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 1.4rem;
}

.header__center--link {
  border: 1px solid white;
  height: 5rem;
  width: 35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

@media only screen and (max-width: 769px) {
  .header__center--link {
    width: 30rem;
  }
}

@media only screen and (max-width: 415px) {
  .header__center--link {
    width: 23rem;
  }
}

@media only screen and (max-width: 321px) {
  .header__center--link {
    width: 22rem;
    margin-top: -3rem;
  }
}

.header__center--link-span {
  margin-left: -2rem;
}

.header__center--link:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  -webkit-box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.5);
}

.header__center-scroll {
  position: absolute;
  top: 160%;
  left: -30%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #ccc;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40rem;
}

.header__center-scroll-span {
  margin-left: 3rem;
  font-size: 1.4rem;
  font-weight: bold;
  opacity: 0.1;
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.header__center-scroll-mouse {
  padding-right: 4rem;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transform-origin: 20% 40%;
          transform-origin: 20% 40%;
}

@media only screen and (max-width: 769px) {
  .header__center-scroll-mouse {
    padding-right: 6rem;
  }
}

@media only screen and (max-width: 321px) {
  .header__center-scroll-mouse {
    padding-right: 6.9rem;
  }
}

@media only screen and (max-width: 321px) {
  .header__center-scroll {
    left: -50%;
    top: 200%;
  }
}

.header__arrow {
  display: block;
  height: 6rem;
  width: 1px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: #fff;
  position: relative;
  margin-left: 2rem;
  margin-right: 2rem;
}

.header__arrow:before {
  position: absolute;
  display: inline-block;
  content: "";
  top: 0;
  left: -4px;
  width: 1px;
  height: 1rem;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__arrow:after {
  position: absolute;
  display: inline-block;
  content: "";
  top: 0;
  left: 4px;
  width: 1px;
  height: 1rem;
  background-color: #fff;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.header__right-arrow {
  display: inline-block;
  height: 4rem;
  width: 1px;
  margin-left: 3rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: grey;
  position: relative;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

.header__right-arrow:before {
  position: absolute;
  display: inline-block;
  content: "";
  top: 0;
  left: -4px;
  width: 1px;
  height: 1rem;
  background-color: grey;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__right-arrow:after {
  position: absolute;
  display: inline-block;
  content: "";
  top: 0;
  left: 4px;
  width: 1px;
  height: 1rem;
  background-color: grey;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.header__left {
  width: 54.69%;
  height: 100%;
  display: inline-block;
  background-image: url("https://eryk-m.github.io/wooder-landing/img/wood.jpg");
  background-position: center;
  background-size: cover;
  position: absolute;
}

.header__left:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.85);
}

.header__left-number {
  font-size: 5.2rem;
  color: var(--color-primary);
  position: absolute;
  top: 40%;
  left: 33%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  z-index: 1;
  letter-spacing: 0.3rem;
}

.header__left-number::before {
  content: "";
  position: absolute;
  top: -10%;
  left: -100%;
  height: 8rem;
  width: 0.1rem;
  background-color: var(--color-primary);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media only screen and (max-width: 769px) {
  .header__left-number {
    left: 2%;
  }
}

.header__left-circle {
  position: absolute;
  top: 50%;
  left: 35%;
  background-color: #ccc;
  background-color: var(--color-primary);
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  z-index: 1;
}

.header__left-circle:first-of-type {
  background-color: var(--color-primary);
}

.header__left-circle:nth-of-type(2) {
  margin-top: 4rem;
  z-index: 0;
}

.header__left-circle:nth-of-type(3) {
  margin-top: 8rem;
  z-index: 0;
}

.header__left-circle:nth-of-type(4) {
  margin-top: 12rem;
  z-index: 0;
}

@media only screen and (max-width: 769px) {
  .header__left-circle {
    left: 5%;
  }
}

@media only screen and (max-width: 415px) {
  .header__left-circle {
    left: 7%;
  }
}

.header__right {
  right: 0;
  top: 0;
  position: absolute;
  width: 45.31%;
  height: 105%;
  background-image: url("https://eryk-m.github.io/wooder-landing/img/wood-2.jpg");
  background-position: center;
  background-size: cover;
}

.header__right:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.85);
}

.header__right-para {
  font-size: 2.1rem;
  color: var(--color-primary);
  position: absolute;
  top: 50%;
  right: 25%;
  opacity: 0.3;
  font-weight: 400;
  z-index: 1;
  text-transform: uppercase;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header__right-para span {
  padding: 0 2rem;
}

@media only screen and (max-width: 1601px) {
  .header__right-para {
    right: 22%;
  }
}

@media only screen and (max-width: 1367px) {
  .header__right-para {
    right: 26%;
  }
}

@media only screen and (max-width: 1025px) {
  .header__right-para {
    right: 18%;
  }
}

@media only screen and (max-width: 769px) {
  .header__right-para {
    right: -13%;
  }
}

@media only screen and (max-width: 415px) {
  .header__right-para {
    right: -28%;
  }
}

.header__letter {
  top: 76.5%;
  left: 17%;
}

@media only screen and (max-width: 769px) {
  .header__letter {
    left: 0;
  }
}

.fa-share-alt {
  position: absolute;
  font-size: 3rem;
  color: var(--color-primary);
  bottom: 2rem;
  right: 4rem;
  z-index: 1;
}

@media only screen and (max-width: 769px) {
  .fa-share-alt {
    bottom: 5rem;
  }
}

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 12;
}

@media only screen and (max-width: 415px) {
  .navigation {
    margin: 0 auto;
  }
}

.navigation__burger {
  margin-left: 2rem;
  width: 5rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(0);
          transform: scale(0);
}

@media only screen and (max-width: 677px) {
  .navigation__burger {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    position: fixed;
    left: 1rem;
    top: 2rem;
  }
}

.navigation__burger:hover {
  cursor: pointer;
}

.navigation__burger-span {
  display: block;
  height: 3px;
  width: 5rem;
  background-color: var(--color-primary);
  position: relative;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

.navigation__burger-span:after {
  content: "";
  position: absolute;
  top: 1.5rem;
  left: 0;
  height: 3px;
  width: 5rem;
  background-color: var(--color-primary);
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}

.navigation__burger-span::before {
  content: "";
  position: absolute;
  top: -1.5rem;
  left: 0;
  height: 3px;
  width: 5rem;
  background-color: var(--color-primary);
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}

@media only screen and (max-width: 677px) {
  .navigation__burger {
    position: fixed;
  }
}

.navigation__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 23rem;
}

.navigation__logo {
  color: #eee;
  font-size: 3.6rem;
  font-weight: 700;
  letter-spacing: 1.9rem;
  text-transform: uppercase;
  position: relative;
}

.navigation__logo:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 20.8%;
  height: 0.4rem;
  width: 7.6rem;
  border-radius: 5px;
  background-color: var(--color-primary);
}

@media only screen and (max-width: 677px) {
  .navigation__nav {
    display: none;
  }
}

.navigation__list {
  list-style: none;
}

.navigation__item {
  display: inline;
  margin-left: 10rem;
}

.navigation__link {
  text-decoration: none;
  font-weight: 700;
  line-height: 4rem;
  color: #fff;
  opacity: 0.5;
  font-size: 1.5rem;
  text-transform: uppercase;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

.navigation__link:hover {
  color: var(--color-primary);
  opacity: 1;
}

@media only screen and (max-width: 321px) {
  .navigation__right {
    display: none;
  }
}

.active {
  background-color: rgba(0, 0, 0, 0);
}

.active:after {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  background-color: black;
}

.active:before {
  background-color: black;
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.furniture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 119rem;
  margin: 13rem auto 0;
  position: relative;
}

@media only screen and (max-width: 751px) {
  .furniture {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.furniture:after {
  position: absolute;
  content: "";
  width: 4px;
  height: 5.1rem;
  background-color: #a9946e;
  bottom: -45%;
  left: 1.5%;
}

@media only screen and (max-width: 751px) {
  .furniture:after {
    left: 4%;
  }
}

.furniture__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 16.5rem;
}

.furniture__heading {
  position: relative;
}

.furniture__heading:before {
  content: "";
  position: absolute;
  left: -40%;
  top: 45%;
  width: 15.1rem;
  height: 1px;
  background-color: #000;
}

@media only screen and (orientation: landscape) and (max-width: 737px) {
  .furniture__heading:before {
    width: 13rem;
    left: -33%;
  }
}

@media only screen and (max-width: 751px) {
  .furniture__heading:before {
    left: -13rem;
    width: 10rem;
  }
}

@media only screen and (max-width: 415px) {
  .furniture__heading:before {
    left: -25%;
    width: 10rem;
  }
}

@media only screen and (max-width: 321px) {
  .furniture__heading:before {
    width: 8rem;
  }
}

.furniture__para {
  position: relative;
}

.furniture__para:before {
  position: absolute;
  content: "";
  width: 4.4rem;
  height: 4px;
  top: 15%;
  left: -15%;
  background-color: var(--color-primary);
}

@media only screen and (max-width: 751px) {
  .furniture__para:before {
    left: -7.2rem;
  }
}

.furniture__link {
  position: relative;
}

.furniture__link:before {
  content: "";
  position: absolute;
  width: 4.4rem;
  height: 2px;
  bottom: 0;
  left: 3%;
  background-color: #a9946e;
}

.furniture__image {
  background-image: url("https://eryk-m.github.io/wooder-landing/img/furniture.png");
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 40rem;
  position: relative;
}

@media only screen and (max-width: 751px) {
  .furniture__image {
    width: 90%;
    margin: 0 auto;
    margin-top: 4rem;
  }
}

.furniture__image:before {
  content: "";
  position: absolute;
  background-color: var(--color-primary);
  width: 4px;
  height: 5.1rem;
  right: 0;
  top: -26%;
}

.furniture__image:after {
  content: "furniture";
  text-transform: uppercase;
  position: absolute;
  text-transform: uppercase;
  color: #d0d0d0;
  opacity: 1;
  letter-spacing: 3.36px;
  font-size: 11rem;
  font-weight: 700;
  left: 0;
  top: 25%;
  opacity: 0.3;
}

@media only screen and (max-width: 769px) {
  .furniture__image:after {
    font-size: 10rem;
  }
}

@media only screen and (orientation: landscape) and (max-width: 737px) {
  .furniture__image:after {
    font-size: 9rem;
  }
}

@media only screen and (orientation: landscape) and (max-width: 668px) {
  .furniture__image:after {
    font-size: 6.5rem;
  }
}

@media only screen and (orientation: landscape) and (max-width: 661px) {
  .furniture__image:after {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 376px) {
  .furniture__image:after {
    font-size: 8rem;
  }
}

.furniture__bottom {
  position: absolute;
  top: 100%;
  left: 0;
}

.furniture__bottom span {
  color: var(--color-primary);
}

@media only screen and (max-width: 751px) {
  .furniture__bottom {
    left: 5%;
    top: 110%;
  }
}

.decor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 119rem;
  margin: 28rem auto 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

@media only screen and (max-width: 751px) {
  .decor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.decor:after {
  position: absolute;
  content: "";
  width: 4px;
  height: 5.1rem;
  background-color: #a9946e;
  bottom: -45%;
  right: 1.5%;
}

@media only screen and (max-width: 751px) {
  .decor:after {
    right: 5%;
  }
}

.decor__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 12rem;
  margin-right: 20rem;
  text-align: right;
}

.decor__image {
  background-image: url("https://eryk-m.github.io/wooder-landing/img/decor.png");
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 40rem;
  position: relative;
}

@media only screen and (max-width: 751px) {
  .decor__image {
    width: 90%;
    margin: 0 auto;
    margin-top: 4rem;
  }
}

.decor__image:after {
  content: "decor";
  text-transform: uppercase;
  position: absolute;
  text-transform: uppercase;
  color: #d0d0d0;
  opacity: 1;
  letter-spacing: 3.36px;
  font-size: 17rem;
  font-weight: 700;
  left: -17vw;
  top: 25%;
  opacity: 0.3;
}

@media only screen and (max-width: 769px) {
  .decor__image:after {
    font-size: 12rem;
    left: 0;
  }
}

.decor__heading {
  position: relative;
}

.decor__heading:before {
  content: "";
  position: absolute;
  right: -65%;
  top: 45%;
  width: 15.1rem;
  height: 1px;
  background-color: #000;
}

@media only screen and (orientation: landscape) and (max-width: 737px) {
  .decor__heading:before {
    right: -55%;
  }
}

@media only screen and (max-width: 751px) {
  .decor__heading:before {
    right: -12rem;
    width: 10rem;
  }
}

@media only screen and (max-width: 415px) {
  .decor__heading:before {
    right: -35%;
    width: 10rem;
  }
}

@media only screen and (max-width: 321px) {
  .decor__heading:before {
    width: 8rem;
    right: -43%;
  }
}

.decor__para {
  position: relative;
}

.decor__para:before {
  position: absolute;
  content: "";
  width: 4.4rem;
  height: 4px;
  top: 15%;
  right: -25%;
  background-color: var(--color-primary);
}

@media only screen and (max-width: 751px) {
  .decor__para:before {
    right: -7rem;
  }
}

@media only screen and (max-width: 415px) {
  .decor__para:before {
    right: -20%;
  }
}

@media only screen and (max-width: 321px) {
  .decor__para:before {
    right: -28%;
  }
}

.decor__link {
  position: relative;
  margin-left: auto;
  padding-left: -1rem;
}

.decor__link:before {
  content: "";
  position: absolute;
  width: 4.4rem;
  height: 2px;
  bottom: 0;
  left: 7%;
  background-color: #a9946e;
}

.decor__bottom {
  position: absolute;
  top: 100%;
  right: 0;
}

.decor__bottom span {
  color: var(--color-primary);
}

@media only screen and (max-width: 751px) {
  .decor__bottom {
    right: 5%;
    top: 110%;
  }
}

.decor__letter {
  top: -90%;
  right: 0;
}

@media only screen and (max-width: 751px) {
  .decor__letter {
    top: -52%;
  }
}

.wooder {
  max-width: 119rem;
  margin: 22rem auto 0;
}

@media only screen and (max-width: 751px) {
  .wooder {
    margin-top: 35rem;
  }
}

.wooder__wrapper {
  text-align: center;
}

.wooder__heading {
  position: relative;
}

.wooder__heading:after {
  position: absolute;
  content: "";
  width: 4.4rem;
  height: 4px;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: var(--color-primary);
  margin-top: 1rem;
}

.wooder__para {
  text-align: center;
  max-width: 63rem;
  margin: 0 auto;
  margin-top: 3rem;
}

.wooder__vid {
  height: 24rem;
  width: 24rem;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 0 1pt rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0 1pt rgba(0, 0, 0, 0.5);
  border: 5px solid white;
  position: relative;
}

.wooder__vid:after {
  position: absolute;
  content: "";
  width: 2.5rem;
  height: 1px;
  background-color: var(--color-primary);
  top: 112%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.wooder__videos {
  margin-top: 7.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 751px) {
  .wooder__videos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 1rem;
  }
}

.wooder__videos-box:not(:first-of-type) {
  margin-left: 10rem;
}

@media only screen and (max-width: 751px) {
  .wooder__videos-box:not(:first-of-type) {
    margin-left: 0;
  }
}

@media only screen and (max-width: 751px) {
  .wooder__videos-box {
    margin-top: 4rem;
  }
}

.wooder__videos-item--1 {
  background-image: url("https://eryk-m.github.io/wooder-landing/img/design.png");
}

.wooder__videos-item--2 {
  background: url("https://eryk-m.github.io/wooder-landing/img/skills.png");
}

@media only screen and (max-width: 1367px) {
  .wooder__videos-item--2 {
    background-position: left;
  }
}

@media only screen and (max-width: 321px) {
  .wooder__videos-item--2 {
    background-size: 100%;
  }
}

.wooder__videos-item--3 {
  background: url("https://eryk-m.github.io/wooder-landing/img/products.png");
}

@media only screen and (max-width: 321px) {
  .wooder__videos-item--3 {
    background-size: 100%;
  }
}

.wooder__videos-para {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  color: #000;
  letter-spacing: 0.4px;
  margin-top: 4rem;
}

.complex {
  margin-top: 15rem;
  height: 91rem;
  width: 100%;
  background-image: url("https://eryk-m.github.io/wooder-landing/img/complexity.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.complex:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.complex:before {
  content: url("https://eryk-m.github.io/wooder-landing/img/play.png");
  position: absolute;
  top: 4%;
  right: 6.4%;
  opacity: 0.5;
}

@media only screen and (max-width: 1601px) {
  .complex:before {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@media only screen and (max-width: 769px) {
  .complex:before {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    right: -25%;
    top: -25%;
  }
}

@media only screen and (max-width: 415px) {
  .complex:before {
    right: -50%;
  }
}

@media only screen and (max-width: 321px) {
  .complex:before {
    right: -60%;
  }
}

.complex__wrapper {
  border: 1px solid var(--color-primary);
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.complex__wrapper:after {
  content: "";
  width: 1px;
  height: 15rem;
  right: 7%;
  top: 50%;
  position: absolute;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (max-width: 751px) {
  .complex__wrapper:after {
    display: none;
  }
}

.complex__heading {
  color: var(--color-primary);
  letter-spacing: 1.2px;
  position: relative;
}

.complex__heading:before {
  content: "";
  position: absolute;
  left: -30%;
  top: 25%;
  width: 15.1rem;
  height: 1px;
  background-color: #fff;
}

@media only screen and (max-width: 769px) {
  .complex__heading:before {
    width: 5rem;
    left: -13%;
  }
}

@media only screen and (orientation: landscape) and (max-width: 661px) {
  .complex__heading:before {
    display: none;
  }
}

@media only screen and (max-width: 751px) {
  .complex__heading:before {
    left: -15%;
  }
}

@media only screen and (max-width: 321px) {
  .complex__heading:before {
    display: none;
  }
}

@media only screen and (max-width: 751px) {
  .complex__heading {
    font-size: 3rem;
  }
}

.complex__text {
  position: absolute;
  top: 50%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 60rem;
}

@media only screen and (orientation: landscape) and (max-width: 534px) {
  .complex__text {
    left: 50%;
  }
}

@media only screen and (max-width: 751px) {
  .complex__text {
    left: 55%;
    width: 40rem;
  }
}

.complex__para {
  color: #fff;
  padding-right: 13rem;
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-bottom: 4rem;
  position: relative;
}

.complex__para:before {
  position: absolute;
  content: "";
  width: 4.4rem;
  height: 4px;
  top: 15%;
  left: -12%;
  background-color: var(--color-primary);
}

@media only screen and (max-width: 751px) {
  .complex__para:before {
    width: 3rem;
    left: -10%;
    top: 5%;
  }
}

@media only screen and (orientation: landscape) and (max-width: 661px) {
  .complex__para:before {
    display: none;
  }
}

@media only screen and (max-width: 321px) {
  .complex__para:before {
    display: none;
  }
}

.complex__link {
  margin-top: 6rem;
  text-decoration: none;
  padding: 1.5rem 5rem;
  color: #fff;
  border: 1px solid white;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 2.8px;
}

.complex .fa-play-circle {
  vertical-align: -0.2rem;
  color: #fff;
  font-size: 1.9rem;
  margin-right: 1rem;
}

.about {
  max-width: 119rem;
  margin: 14rem auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 751px) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 751px) {
  .about__heading:before {
    display: none;
  }
}

@media only screen and (max-width: 751px) {
  .about__para:before {
    display: none;
  }
}

.about__image {
  background-image: url("https://eryk-m.github.io/wooder-landing/img/about.jpg");
  height: 40rem;
  width: 100%;
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 751px) {
  .about__image {
    margin-top: 3rem;
    background-position: top;
  }
}

.about__text {
  margin-left: 9rem;
}

@media only screen and (max-width: 751px) {
  .about__text {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
}

.footer {
  margin-top: 12.5rem;
  height: 7rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("https://eryk-m.github.io/wooder-landing/img/wood.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.footer:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.85);
}

.footer p {
  z-index: 1;
}

.footer__para {
  z-index: 1;
  color: #7d7d7d;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.38px;
}

.footer__para span {
  font-weight: 700;
}

@media only screen and (max-width: 751px) {
  .footer__logo {
    font-size: 2.5rem;
    letter-spacing: 1px;
  }
  .footer__logo:after {
    display: none;
  }
}

.nav__burger {
  position: fixed;
  width: 30rem;
  background-color: var(--color-primary);
  height: 100%;
  z-index: 10;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.nav__burger ul {
  list-style: none;
  margin-top: 10rem;
  width: 100%;
  text-align: center;
}

.nav__burger ul li {
  width: 30rem;
}

.nav__burger ul li:not(:first-of-type) {
  margin-top: 2rem;
}

.nav__burger ul li a {
  text-decoration: none;
  font-size: 4rem;
  color: black;
}

.nav-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
/*# sourceMappingURL=main.css.map */